.status-bar {
  margin-top: 24px;
  flex: 1;
  display: flex;
}

.status-bar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.status-bar__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfcfc;
  border-radius: 6px;
  padding: 6px 10px;
}

.status-bar__item .content {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 4px;
  color: #797979;
}

.status-bar__item p {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}
